audioop-lts==0.2.1
cachetools==4.2.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==6.7
enum34==1.1.10
google-assistant-grpc==0.0.2
google-assistant-library==1.1.0
google-assistant-sdk==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.1.0
googleapis-common-protos==1.69.2
grpcio==1.71.0
idna==3.10
monotonic==1.6
oauthlib==3.2.2
pathlib2==2.3.7.post1
protobuf==6.30.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.22
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==77.0.3
six==1.16.0
sounddevice==0.3.7
SpeechRecognition==3.10.0
standard-aifc==3.13.0
standard-chunk==3.13.0
tenacity==9.0.0
urllib3==1.26.18
